name: Deploy AWS
on: [workflow_dispatch]

    
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    
  
    - name: 'AWS: Timestamp action'
      uses: gerred/actions/current-time@master
      id: current-time
      
    - name: 'AWS: String replace action'
      uses: frabert/replace-string-action@master
      id: format-time
      with:
        pattern: '[:\.]+'
        string: "${{ steps.current-time.outputs.time }}"
        replace-with: '-'
        flags: 'g'
        
     - name: Print
       run: echo '${{ steps.format-time.outputs.replaced }}'
